@charset "utf-8";

@font-face {
    font-family: 'notokr';
    src: url('NotoSansKR-Thin.eot');
    src: url('NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'),
        url('NotoSansKR-Thin.woff2') format('woff2'),
        url('NotoSansKR-Thin.woff') format('woff'),
        url('NotoSansKR-Thin.ttf') format('truetype'),
        url('NotoSansKR-Thin.svg#NotoSansKR-Thin') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'notokr';
    src: url('NotoSansKR-Light.eot');
    src: url('NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
        url('NotoSansKR-Light.woff2') format('woff2'),
        url('NotoSansKR-Light.woff') format('woff'),
        url('NotoSansKR-Light.ttf') format('truetype'),
        url('NotoSansKR-Light.svg#NotoSansKR-Light') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'notokr';
    src: url('NotoSans-DemiLight.eot');
    src: url('NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-DemiLight.woff2') format('woff2'),
        url('NotoSans-DemiLight.woff') format('woff'),
        url('NotoSans-DemiLight.ttf') format('truetype'),
        url('NotoSans-DemiLight.svg#NotoSans-DemiLight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'notokr';
    src: url('NotoSansKR-Regular.eot');
    src: url('NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
        url('NotoSansKR-Regular.woff2') format('woff2'),
        url('NotoSansKR-Regular.woff') format('woff'),
        url('NotoSansKR-Regular.ttf') format('truetype'),
        url('NotoSansKR-Regular.svg#NotoSansKR-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: url('NotoSansKR-Bold.eot');
    src: url('NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
        url('NotoSansKR-Bold.woff2') format('woff2'),
        url('NotoSansKR-Bold.woff') format('woff'),
        url('NotoSansKR-Bold.ttf') format('truetype'),
        url('NotoSansKR-Bold.svg#NotoSansKR-Bold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: url('NotoSansKR-Black.eot');
    src: url('NotoSansKR-Black.eot?#iefix') format('embedded-opentype'),
        url('NotoSansKR-Black.woff2') format('woff2'),
        url('NotoSansKR-Black.woff') format('woff'),
        url('NotoSansKR-Black.ttf') format('truetype'),
        url('NotoSansKR-Black.svg#NotoSansKR-Black') format('svg');
    font-weight: 600;
    font-style: normal;
}